In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
import icd10
from icd9 import ICD9
from icd9cms.icd9 import search
import re

In [2]:
import sys
!{sys.executable} -m pip install icd10-cm

Requirement already satisfied: icd10-cm in c:\users\irvin\anaconda3\lib\site-packages (0.0.4)

In [3]:
import sys
!{sys.executable} -m pip install icd9cms

Requirement already satisfied: icd9cms in c:\users\irvin\anaconda3\lib\site-packages (0.2.1)
Requirement already satisfied: pandas in c:\users\irvin\anaconda3\lib\site-packages (from icd9cms) (1.0.1)
Requirement already satisfied: bs4 in c:\users\irvin\anaconda3\lib\site-packages (from icd9cms) (0.0.1)
Requirement already satisfied: requests in c:\users\irvin\anaconda3\lib\site-packages (from icd9cms) (2.22.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\irvin\anaconda3\lib\site-packages (from pandas->icd9cms) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\irvin\anaconda3\lib\site-packages (from pandas->icd9cms) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\irvin\anaconda3\lib\site-packages (from pandas->icd9cms) (1.18.1)
Requirement already satisfied: beautifulsoup4 in c:\users\irvin\anaconda3\lib\site-packages (from bs4->icd9cms) (4.8.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\irvin\anaconda3\lib\site-packages (from requests->icd9cms) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\irvin\anaconda3\lib\site-packages (from requests->icd9cms) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\irvin\anaconda3\lib\site-packages (from requests->icd9cms) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\irvin\anaconda3\lib\site-packages (from requests->icd9cms) (1.25.8)
Requirement already satisfied: six>=1.5 in c:\users\irvin\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->icd9cms) (1.14.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\irvin\anaconda3\lib\site-packages (from beautifulsoup4->bs4->icd9cms) (1.9.5)

In [4]:
df = pd.read_excel("./Dataset/contoh data RS.xlsx")

In [5]:
df.head()

,NO,NO. RM,TGL LAHIR,UMUR,SEX,TGL MASUK,TGL KELUAR,CARA KELUAR,CARA BAYAR,LOS,...,TIND15,TIND16,TIND17,TIND18,TIND19,TIND20,ICD KERACUNAN,ICD PENYEBAB MENINGGAL,NAMA KELAS,NAMA INSTALASI
0,1,95797,1962-10-18,77 Thn 11 bln 0 hr,P,30-10-2016 04:45:50,02-11-2016 14:26:18,Pulang Diizinkan,JKN Non PBI,4,...,-,-,-,-,-,-,NaN,NaN,Kelas II (ICU/ICCU),ICCU
1,2,89651,1959-01-30,65 Thn 1 bln 6 hr,L,30-10-2016 16:53:00,12-11-2016 13:22:12,Pulang Diizinkan,Jamkesda Yogyakarta,14,...,-,-,-,-,-,-,NaN,NaN,Kelas III AC,Anggrek 1 (Instalasi Jantung)
2,3,92222,1944-08-10,60 Thn 8 bln 25 hr,L,30-10-2016 18:40:21,02-11-2016 20:11:09,Pulang Diizinkan,JKN Non PBI,4,...,-,-,-,-,-,-,NaN,NaN,Kelas III AC,Anggrek 1 (Instalasi Jantung)
3,4,82586,1943-08-17,71 Thn 8 bln 26 hr,L,31-10-2016 00:14:45,07-12-2016 19:10:00,Pulang Diizinkan,JKN Non PBI,38,...,93.96,-,-,-,-,-,NaN,NaN,Kelas II Non AC,Anggrek 2
4,5,84394,1946-07-22,50 Thn 5 bln 6 hr,P,31-10-2016 02:12:20,04-11-2016 14:29:59,Pulang Diizinkan,JKN Non PBI,5,...,-,-,-,-,-,-,NaN,NaN,Kelas III AC,Anggrek 1 (Instalasi Jantung)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 97 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NO                      11 non-null     int64
 1   NO. RM                  11 non-null     int64
 2   TGL LAHIR               11 non-null     datetime64[ns]
 3   UMUR                    11 non-null     object
 4   SEX                     11 non-null     object
 5   TGL MASUK               11 non-null     object
 6   TGL KELUAR              11 non-null     object
 7   CARA KELUAR             11 non-null     object
 8   CARA BAYAR              11 non-null     object
 9   LOS                     11 non-null     int64
 10  ICD UTAMA               11 non-null     object
 11  K.DIAG.UTAMA            11 non-null     object
 12  DX1                     11 non-null     object
 13  K.1                     11 non-null     object
 14  DX2                     11 non-null     object
 15  K.2                     11 non-null     object
 16  DX3                     11 non-null     object
 17  K.3                     11 non-null     object
 18  DX4                     11 non-null     object
 19  K.4                     11 non-null     object
 20  DX5                     11 non-null     object
 21  K.5                     11 non-null     object
 22  DX6                     11 non-null     object
 23  K.6                     11 non-null     object
 24  DX7                     11 non-null     object
 25  K.7                     11 non-null     object
 26  DX8                     11 non-null     object
 27  K.8                     11 non-null     object
 28  DX9                     11 non-null     object
 29  K.9                     11 non-null     object
 30  DX10                    11 non-null     object
 31  K.10                    11 non-null     object
 32  DX11                    11 non-null     object
 33  K.11                    11 non-null     object
 34  DX12                    11 non-null     object
 35  K.12                    11 non-null     object
 36  DX13                    11 non-null     object
 37  K.13                    11 non-null     object
 38  DX14                    11 non-null     object
 39  K.14                    11 non-null     object
 40  DX15                    11 non-null     object
 41  K.15                    11 non-null     object
 42  DX16                    11 non-null     object
 43  K.16                    11 non-null     object
 44  DX17                    11 non-null     object
 45  K.17                    11 non-null     object
 46  DX18                    11 non-null     object
 47  K.18                    11 non-null     object
 48  DX19                    11 non-null     object
 49  K.19                    11 non-null     object
 50  DX20                    11 non-null     object
 51  K.20                    11 non-null     object
 52  DX21                    11 non-null     object
 53  K.21                    11 non-null     object
 54  DX22                    11 non-null     object
 55  K.22                    11 non-null     object
 56  DX23                    11 non-null     object
 57  K.23                    11 non-null     object
 58  DX24                    11 non-null     object
 59  K.24                    11 non-null     object
 60  DX25                    11 non-null     object
 61  K.25                    11 non-null     object
 62  DX26                    11 non-null     object
 63  K.26                    11 non-null     object
 64  DX27                    11 non-null     object
 65  K.27                    11 non-null     object
 66  DX28                    11 non-null     object
 67  K.28                    11 non-null     object
 68  DX29                    11 non-null     object
 69  K.29                    11 non-null     object
 70  DX30                    11 non-null     object
 71  K.30                    11 non-null     object
 72  ICD PENYEBAB CEDERA     0 non-null      float64
 73  TIND1                   11 non-null     float64
 74  TIND2                   11 non-null     float64
 75  TIND3                   11 non-null     object
 76  TIND4                   11 non-null     object
 77  TIND5                   11 non-null     object
 78  TIND6                   11 non-null     object
 79  TIND7                   11 non-null     object
 80  TIND8                   11 non-null     object
 81  TIND9                   11 non-null     object
 82  TIND10                  11 non-null     object
 83  TIND11                  11 non-null     object
 84  TIND12                  11 non-null     object
 85  TIND13                  11 non-null     object
 86  TIND14                  11 non-null     object
 87  TIND15                  11 non-null     object
 88  TIND16                  11 non-null     object
 89  TIND17                  11 non-null     object
 90  TIND18                  11 non-null     object
 91  TIND19                  11 non-null     object
 92  TIND20                  11 non-null     object
 93  ICD KERACUNAN           0 non-null      float64
 94  ICD PENYEBAB MENINGGAL  0 non-null      float64
 95  NAMA KELAS              11 non-null     object
 96  NAMA INSTALASI          11 non-null     object
dtypes: datetime64[ns](1), float64(5), int64(3), object(88)
memory usage: 8.5+ KB

In [7]:
df['TGL KELUAR'] = pd.to_datetime(df['TGL KELUAR'], dayfirst=True)
df['TGL MASUK'] = pd.to_datetime(df['TGL MASUK'], dayfirst=True)

In [8]:
df['TGL MASUK'].head()

0   2016-10-30 04:45:50
1   2016-10-30 16:53:00
2   2016-10-30 18:40:21
3   2016-10-31 00:14:45
4   2016-10-31 02:12:20
Name: TGL MASUK, dtype: datetime64[ns]

In [9]:
df['TGL KELUAR'].head()

0   2016-11-02 14:26:18
1   2016-11-12 13:22:12
2   2016-11-02 20:11:09
3   2016-12-07 19:10:00
4   2016-11-04 14:29:59
Name: TGL KELUAR, dtype: datetime64[ns]

In [12]:
df['TGL LAHIR'].head()

0   1962-10-18
1   1959-01-30
2   1944-08-10
3   1943-08-17
4   1946-07-22
Name: TGL LAHIR, dtype: datetime64[ns]

In [10]:
umur = df['TGL MASUK'].sub(df['TGL LAHIR'], axis=0).dt.days.div(365).round().astype(np.int64)
umur.head()

2020-06-29 20:41:51,654: NumExpr defaulting to 8 threads.

0    54
1    58
2    72
3    73
4    70
dtype: int64

In [11]:
dfbaru = pd.DataFrame() 
dfbaru['Usia'] = umur
dfbaru.head()

   Usia
0    54
1    58
2    72
3    73
4    70

In [15]:
LOS = df['TGL KELUAR'].sub(df['TGL MASUK'], axis=0).dt.days
LOS = LOS + 1
LOS

0      4
1     13
2      4
3     38
4      5
5      3
6      3
7      4
8      4
9      8
10    16
dtype: int64

In [16]:
dfbaru['LOS'] = LOS 
dfbaru

    Usia  LOS
0     54    4
1     58   13
2     72    4
3     73   38
4     70    5
5     60    3
6     66    3
7     54    4
8     59    4
9     68    8
10    61   16

In [17]:
code = icd10.find(df["DX1"][0])
print(code.description)

ST elevation (STEMI) myocardial infarction of anterior wall

In [18]:
dfbaru

    Usia  LOS
0     54    4
1     58   13
2     72    4
3     73   38
4     70    5
5     60    3
6     66    3
7     54    4
8     59    4
9     68    8
10    61   16

In [19]:
a = 1
for x in range(2,32):
    dfbaru.insert(x, "DX"+ str(a), "-")
    a = a+1

In [20]:
dfbaru.head(3)

,Usia,LOS,DX1,DX2,DX3,DX4,DX5,DX6,DX7,DX8,...,DX21,DX22,DX23,DX24,DX25,DX26,DX27,DX28,DX29,DX30
0,54,4,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,58,13,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
2,72,4,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [21]:
df.filter(regex=("DX.*"))

,DX1,DX2,DX3,DX4,DX5,DX6,DX7,DX8,DX9,DX10,...,DX21,DX22,DX23,DX24,DX25,DX26,DX27,DX28,DX29,DX30
0,I21.0,I44.0,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,I21.0,I44.2,N17.9,E11.7,E11.5,E66.9,E87.1,I10,E78.8,E11.4,...,-,-,-,-,-,-,-,-,-,-
2,I48,I25.1,K71.0,I47.2,Z95.0,E88.0,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,I63.9,E11.9,I21.4,J16.8,N17.9,I10,E79.0,E87.5,D64.9,-,...,-,-,-,-,-,-,-,-,-,-
4,I21.0,I10,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
5,I25.2,I20.9,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
6,I20.9,I10,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
7,I22.0,E87.5,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
8,I20.9,I10,J45.9,Y45.1,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,I25.2,N17.9,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
10,E11.7,I25.1,I79.2,E11.4,G63.2,E11.2,N08.3,E11.3,H36.0,E88.0,...,-,-,-,-,-,-,-,-,-,-

In [22]:
for x in df.filter(regex=("DX.*")):
    a = 0
    for y in df[x]:
        try:
            code = icd10.find(y)
            dfbaru[x][a] = str(code.description)
            a = a + 1
        except:
            dfbaru[x][a] = str('-')
            a = a + 1

C:\Users\Irvin\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Irvin\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [23]:
dfbaru

,Usia,LOS,DX1,DX2,DX3,DX4,DX5,DX6,DX7,DX8,...,DX21,DX22,DX23,DX24,DX25,DX26,DX27,DX28,DX29,DX30
0,54,4,ST elevation (STEMI) myocardial infarction of ...,"Atrioventricular block, first degree",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,58,13,ST elevation (STEMI) myocardial infarction of ...,"Atrioventricular block, complete","Acute kidney failure, unspecified",-,Type 2 diabetes mellitus with circulatory comp...,"Obesity, unspecified",Hypo-osmolality and hyponatremia,Essential (primary) hypertension,...,-,-,-,-,-,-,-,-,-,-
2,72,4,Atrial fibrillation and flutter,Atherosclerotic heart disease of native corona...,Toxic liver disease with cholestasis,Ventricular tachycardia,Presence of cardiac pacemaker,"Disorders of plasma-protein metabolism, not el...",-,-,...,-,-,-,-,-,-,-,-,-,-
3,73,38,"Cerebral infarction, unspecified",Type 2 diabetes mellitus without complications,Non-ST elevation (NSTEMI) myocardial infarction,Pneumonia due to other specified infectious or...,"Acute kidney failure, unspecified",Essential (primary) hypertension,Hyperuricemia without signs of inflammatory ar...,Hyperkalemia,...,-,-,-,-,-,-,-,-,-,-
4,70,5,ST elevation (STEMI) myocardial infarction of ...,Essential (primary) hypertension,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
5,60,3,Old myocardial infarction,"Angina pectoris, unspecified",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
6,66,3,"Angina pectoris, unspecified",Essential (primary) hypertension,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
7,54,4,Subsequent ST elevation (STEMI) myocardial inf...,Hyperkalemia,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
8,59,4,"Angina pectoris, unspecified",Essential (primary) hypertension,Other and unspecified asthma,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,68,8,Old myocardial infarction,"Acute kidney failure, unspecified",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
10,61,16,-,Atherosclerotic heart disease of native corona...,-,Type 2 diabetes mellitus with neurological com...,-,Type 2 diabetes mellitus with kidney complicat...,-,Type 2 diabetes mellitus with ophthalmic compl...,...,-,-,-,-,-,-,-,-,-,-

In [25]:
for y in df['TIND3']:
    a = str(search(str(y)))
    a= ''.join([i for i in a if not i.isdigit()])
    a=  a.replace(":", "")
    print(a)

None
Bacterial infection in conditions classified elsewhere and of unspecified siteNone
ChilblainsChilblains
BlepharoconjunctivitisNone
None
None
None
Slow virus infection and prion diseases of central nervous systemNone
Bacterial infection in conditions classified elsewhere and of unspecified siteNone
None
None

In [26]:
a = 1
for x in range(32,52):
    dfbaru.insert(x, "TIND"+ str(a), "-")
    a = a+1

In [27]:
dfbaru

,Usia,LOS,DX1,DX2,DX3,DX4,DX5,DX6,DX7,DX8,...,TIND11,TIND12,TIND13,TIND14,TIND15,TIND16,TIND17,TIND18,TIND19,TIND20
0,54,4,ST elevation (STEMI) myocardial infarction of ...,"Atrioventricular block, first degree",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,58,13,ST elevation (STEMI) myocardial infarction of ...,"Atrioventricular block, complete","Acute kidney failure, unspecified",-,Type 2 diabetes mellitus with circulatory comp...,"Obesity, unspecified",Hypo-osmolality and hyponatremia,Essential (primary) hypertension,...,-,-,-,-,-,-,-,-,-,-
2,72,4,Atrial fibrillation and flutter,Atherosclerotic heart disease of native corona...,Toxic liver disease with cholestasis,Ventricular tachycardia,Presence of cardiac pacemaker,"Disorders of plasma-protein metabolism, not el...",-,-,...,-,-,-,-,-,-,-,-,-,-
3,73,38,"Cerebral infarction, unspecified",Type 2 diabetes mellitus without complications,Non-ST elevation (NSTEMI) myocardial infarction,Pneumonia due to other specified infectious or...,"Acute kidney failure, unspecified",Essential (primary) hypertension,Hyperuricemia without signs of inflammatory ar...,Hyperkalemia,...,-,-,-,-,-,-,-,-,-,-
4,70,5,ST elevation (STEMI) myocardial infarction of ...,Essential (primary) hypertension,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
5,60,3,Old myocardial infarction,"Angina pectoris, unspecified",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
6,66,3,"Angina pectoris, unspecified",Essential (primary) hypertension,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
7,54,4,Subsequent ST elevation (STEMI) myocardial inf...,Hyperkalemia,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
8,59,4,"Angina pectoris, unspecified",Essential (primary) hypertension,Other and unspecified asthma,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,68,8,Old myocardial infarction,"Acute kidney failure, unspecified",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
10,61,16,-,Atherosclerotic heart disease of native corona...,-,Type 2 diabetes mellitus with neurological com...,-,Type 2 diabetes mellitus with kidney complicat...,-,Type 2 diabetes mellitus with ophthalmic compl...,...,-,-,-,-,-,-,-,-,-,-

In [28]:
df.filter(regex=("TIND.*"))

,TIND1,TIND2,TIND3,TIND4,TIND5,TIND6,TIND7,TIND8,TIND9,TIND10,TIND11,TIND12,TIND13,TIND14,TIND15,TIND16,TIND17,TIND18,TIND19,TIND20
0,0.66,36.07,0.4,0.46,88.55,37.22,89.52,88.72,-,-,-,-,-,-,-,-,-,-,-,-
1,0.66,36.07,0.41,0.46,88.56,37.22,37.78,37.83,37.72,89.52,87.44,-,-,-,-,-,-,-,-,-
2,87.44,89.52,99.15,93.96,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
3,88.57,88.55,37.22,87.03,89.52,93.18,93.12,93.17,87.44,93.94,88.72,99.1,99.04,99.05,93.96,-,-,-,-,-
4,0.66,36.07,0.4,0.45,37.22,88.55,89.52,-,-,-,-,-,-,-,-,-,-,-,-,-
5,0.66,0.41,88.55,37.22,89.52,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
6,0.66,88.55,89.52,37.22,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
7,0.66,36.07,0.46,0.4,88.55,37.22,89.52,-,-,-,-,-,-,-,-,-,-,-,-,-
8,0.66,36.07,0.41,0.46,88.55,37.22,93.94,89.52,-,-,-,-,-,-,-,-,-,-,-,-
9,89.52,87.44,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
10,86.22,86.69,89.52,88.27,88.28,99.15,99.04,-,-,-,-,-,-,-,-,-,-,-,-,-

In [29]:
for x in df.filter(regex=("TIND.*")):
    i = 0
    for y in df[x]:
        a = str(search(str(y)))
        if a != 'None':
            a= ''.join([i for i in a if not i.isdigit()])
            a=  a.replace(":", "")
            dfbaru[x][i] = str(a)
            i = i+1
        else:
            dfbaru[x][i] = "-"
            i = i+1

C:\Users\Irvin\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Irvin\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [27]:
dfbaru

,Usia,LOS,DX1,DX2,DX3,DX4,DX5,DX6,DX7,DX8,...,TIND11,TIND12,TIND13,TIND14,TIND15,TIND16,TIND17,TIND18,TIND19,TIND20
0,54,-262,ST elevation (STEMI) myocardial infarction of ...,"Atrioventricular block, first degree",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
1,58,41,ST elevation (STEMI) myocardial infarction of ...,"Atrioventricular block, complete","Acute kidney failure, unspecified",-,Type 2 diabetes mellitus with circulatory comp...,"Obesity, unspecified",Hypo-osmolality and hyponatremia,Essential (primary) hypertension,...,"Open wound of pharynxOpen wound of pharynx, wi...",-,-,-,-,-,-,-,-,-
2,69,-262,Atrial fibrillation and flutter,Atherosclerotic heart disease of native corona...,Toxic liver disease with cholestasis,Ventricular tachycardia,Presence of cardiac pacemaker,"Disorders of plasma-protein metabolism, not el...",-,-,...,-,-,-,-,-,-,-,-,-,-
3,60,-111,"Cerebral infarction, unspecified",Type 2 diabetes mellitus without complications,Non-ST elevation (NSTEMI) myocardial infarction,Pneumonia due to other specified infectious or...,"Acute kidney failure, unspecified",Essential (primary) hypertension,Hyperuricemia without signs of inflammatory ar...,Hyperkalemia,...,"Amput abv elbow, unilatTraumatic amputation of...",Effects of reduced temperatureNone,-,-,-,-,-,-,-,-
4,65,-203,ST elevation (STEMI) myocardial infarction of ...,Essential (primary) hypertension,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
5,56,-263,Old myocardial infarction,"Angina pectoris, unspecified",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
6,74,-263,"Angina pectoris, unspecified",Essential (primary) hypertension,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
7,58,-234,Subsequent ST elevation (STEMI) myocardial inf...,Hyperkalemia,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
8,59,91,"Angina pectoris, unspecified",Essential (primary) hypertension,Other and unspecified asthma,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
9,57,213,Old myocardial infarction,"Acute kidney failure, unspecified",-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
10,61,310,-,Atherosclerotic heart disease of native corona...,-,Type 2 diabetes mellitus with neurological com...,-,Type 2 diabetes mellitus with kidney complicat...,-,Type 2 diabetes mellitus with ophthalmic compl...,...,-,-,-,-,-,-,-,-,-,-

In [30]:
dfbaru.to_csv('Clean.csv')

In [34]:
dfbaru.to_excel('Clean.xlsx',index= False)